.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #031516;
  font-family: Sportinggrotesque;
  color: #fffdf4;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2em;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #fffdf4;
  font-size: 1em;
  line-height: 140%;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 12px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Vollkorn, serif;
  color: #fffdf4;
  font-size: 1.2em;
  line-height: 170%;
}

a {
  color: #fffdf4;
  text-decoration: underline;
}

.project-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  margin: 10vh auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-arrow-back {
  position: fixed;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  margin-left: 2vh;
  mix-blend-mode: difference;
}

.project-credit-wrapper {
  margin-bottom: 2vh;
  text-align: center;
}

.project-section-credits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-section-media {
  background-color: #031516;
}

.home-categories-link {
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px none #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  line-height: 2.2em;
  font-weight: 700;
  text-decoration: none;
}

.home-categories-link:hover {
  text-decoration: line-through;
}

.home-categories-link:active {
  color: #f04244;
  text-decoration: none;
}

.home-categories-link:focus {
  color: #f04244;
}

.about-cv-item {
  margin-bottom: 16px;
}

.grid-about {
  margin-top: 8vh;
  margin-right: 2vh;
  margin-left: 2vh;
  grid-column-gap: 32px;
  grid-row-gap: 64px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 32px 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-cv-year {
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-sticky-title {
  position: -webkit-sticky;
  position: sticky;
  top: 11vh;
  bottom: auto;
  font-size: 1.4em;
}

.grid-about-photo {
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
}

.grid-about-contact {
  margin-top: 2px;
  margin-bottom: 20px;
}

.about {
  font-size: 4em;
}

.flex-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vh;
  margin-right: 2vh;
  margin-left: 2vh;
  grid-template-areas: ".";
  -ms-grid-columns: 0.75fr 1.25fr;
  grid-template-columns: 0.75fr 1.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.home-left-col {
  position: -webkit-sticky;
  position: sticky;
  width: 30%;
}

.home-dir-col {
  width: 70%;
}

.home-projectlist-wrapper {
  position: relative;
}

.home-project-wrapper {
  position: absolute;
  margin-bottom: 40px;
  -webkit-transition: filter 200ms ease;
  transition: filter 200ms ease;
}

.home-project-wrapper:hover {
  -webkit-filter: contrast(153%);
  filter: contrast(153%);
}

.home-project-img {
  position: relative;
}

.home-project-text {
  position: relative;
  padding-top: 12px;
}

.home-project-text-projecttitle {
  display: block;
  font-family: Libre Franklin;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.home-project-text-projectdescription {
  display: inline-block;
  font-family: Vollkorn, serif;
  font-size: 1em;
  font-weight: 400;
}

.home-categories-wrapper {
  margin-top: 24px;
}

.home-categories-link-big {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #fffdf4;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.4em;
  line-height: 2.2em;
  font-weight: 700;
  text-decoration: none;
}

.home-categories-link-big:hover {
  text-decoration: line-through;
}

.home-categories-link-big:active {
  color: #f04244;
  text-decoration: none;
}

.home-categories-link-big:focus {
  color: #f04244;
}

.home-left-col-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
}

.project-title {
  position: static;
  top: 2vh;
  color: #031516;
  font-size: 4em;
}

.project-title:xl {
  font-size: 5em;
}

.project-title:tiny {
  font-size: 2.4em;
}

.project-title:small {
  font-size: 3em;
}

.project-header-wrapper-sticky {
  padding-top: 12vh;
  padding-bottom: 4vh;
  background-color: #fffdf4;
  text-align: center;
}

.project-media-wrapper {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  text-align: center;
}

.video {
  max-height: 720px;
  margin-right: auto;
  margin-left: auto;
}

.project-header-text-wrapper {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: justify;
}

.project-section-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-section-footer-back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-arrow-back-footer {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  margin-right: 8px;
  padding-bottom: 4px;
}

.project-section-footer-front {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 2vh;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left;
}

.project-section-footer-next {
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px none #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  line-height: 2.2em;
  font-weight: 700;
  text-decoration: none;
}

.project-section-footer-next:hover {
  text-decoration: line-through;
}

.project-section-footer-next:active {
  color: #f04244;
  text-decoration: none;
}

.project-section-footer-next:focus {
  color: #f04244;
}

.link-block-2 {
  position: absolute;
}

.black {
  color: #031516;
  text-transform: uppercase;

}

.project-section-hero-wrapper {
  min-height: 100vh;
}

.cv {
  margin-bottom: 0px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-cv {
  margin-top: 8vh;
  margin-right: 2vh;
  margin-left: 2vh;
  grid-column-gap: 32px;
  grid-row-gap: 64px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 32px 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-about-itens {
  margin-top: 8vh;
  margin-right: 2vh;
  margin-left: 2vh;
  grid-column-gap: 32px;
  grid-row-gap: 64px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 32px 1fr 32px 1fr;
  grid-template-columns: 0.25fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (min-width: 1440px) {
  h1 {
    margin-bottom: 18px;
  }
  h4 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  a {
    text-decoration: underline;
  }
  .project-text-wrapper {
    width: 40vw;
  }
  .project-credit-wrapper {
    margin-bottom: 2vh;
    text-align: center;
  }
  .home-categories-link {
    margin-right: 32px;
    text-decoration: none;
  }
  .about-cv-item {
    margin-bottom: 16px;
  }
  .grid-about {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .about-cv-year {
    margin-bottom: 0px;
  }
  .about {
    font-size: 5em;
  }
  .about.black {
    color: #031516;
    text-transform: uppercase;

  }
  .flex-home {
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  }
  .home-project-wrapper {
    position: absolute;
  }
  .home-project-img {
    background-position: 50% 50%;
    background-size: cover;
  }
  .home-categories-link-big {
    text-decoration: none;
  }
  .home-img-project {
    max-height: 720px;
  }
  .project-title {
    font-size: 5em;
  }
  .project-media-wrapper {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
  .video {
    margin-right: auto;
    margin-left: auto;
  }
  .project-header-text-wrapper {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  .project-section-footer-next {
    margin-right: 0px;
    text-decoration: none;
  }
  .grid-about-itens {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 991px) {
  .project-text-wrapper {
    width: 70vw;
  }
  .project-arrow-back {
    position: static;
    left: auto;
    top: auto;
  }
  .home-categories-link {
    display: inline-block;
  }
  .grid-about {
    grid-auto-flow: row dense;
    grid-row-gap: 55px;
    grid-template-areas: ".";
    -ms-grid-columns: 1.25fr;
    grid-template-columns: 1.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid-about-photo {
    position: relative;
    display: block;
    margin-top: -57px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .image {
    max-width: 100%;
    padding-bottom: 0px;
  }
  .grid-about-contact {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .flex-home {
    margin-top: 2vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-flow: row dense;
    grid-row-gap: 55px;
    grid-template-areas: ".";
    -ms-grid-columns: 1.25fr;
    grid-template-columns: 1.25fr;
    -ms-grid-rows: auto 55px auto 55px auto 55px auto 55px auto 55px auto 55px auto 55px auto 55px auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }
  .home-left-col {
    top: 2vh;
    width: 100%;
  }
  .home-dir-col {
    width: 100%;
  }
  .home-projectlist-wrapper {
    width: 100%;
    padding-top: 40px;
    background-color: #031516;
  }
  .home-project-text {
    background-color: #031516;
  }
  .home-categories-link-big {
    display: inline-block;
  }
  .project-arrow-back-footer {
    left: auto;
    top: auto;
  }
  .project-section-footer-next {
    display: inline-block;
    text-decoration: none;
  }
  .grid-cv {
    grid-auto-flow: row dense;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    -ms-grid-columns: 1.25fr;
    grid-template-columns: 1.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid-about-itens {
    grid-auto-flow: row dense;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    -ms-grid-columns: 1.25fr;
    grid-template-columns: 1.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .div-block-2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .project-text-wrapper {
    width: 90vw;
  }
  .project-credit-wrapper {
    text-align: left;
  }
  .grid-about {
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-about-photo {
    display: block;
    margin-top: -34px;
  }
  .image {
    max-width: 100%;
  }
  .flex-home {
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .project-header-wrapper-sticky {
    width: 100%;
  }
  .project-header-text-wrapper {
    width: auto;
    margin-right: 2vh;
    margin-bottom: 42px;
    margin-left: 2vh;
    padding-top: 40px;
    text-align: left;
  }
  .grid-cv {
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-about-itens {
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .project-text-wrapper {
    margin-top: 10vw;
  }
  .project-section-credits {
    position: relative;
    background-color: #031516;
  }
  .project-section-media {
    position: relative;
  }
  .home-categories-link {
    display: inline-block;
    font-size: 1em;
  }
  .grid-about-photo {
    margin-top: -50px;
  }
  .image {
    max-width: 100%;
  }
  .grid-about-contact {
    text-align: left;
  }
  .home-projectlist-wrapper {
    padding-top: 40px;
  }
  .home-project-text-projectdescription {
    display: block;
  }
  .home-project-text-projectdescription a {
    text-decoration: none;
  }
  .home-categories-link-big {
    display: inline-block;
    font-size: 1em;
  }
  .project-title {
    font-size: 2.4em;
  }
  .project-media-wrapper {
    padding: 8px;
  }
  .project-header-text-wrapper {
    margin-bottom: 38px;
  }
  .project-section-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
  }
  .project-arrow-back-footer {
    margin-left: auto;
  }
  .link-block {
    display: block;
  }
  .project-section-footer-next {
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
  }
}

#w-node-78705df63c57-190ecc1c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-78705df63c5a-190ecc1c {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-78705df63c66-190ecc1c {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-7014e18cf8e2-9fc4d84f {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-4895b1d1adb3-8e0ecc1b {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-60e55f1feaec-8e0ecc1b {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-78705df63c57-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-78705df63c5a-190ecc1c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-78705df63c5b-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-78705df63c66-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column-align: start;
    justify-self: start;
  }
  #w-node-ccec7d90e20c-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-acb262b194bd-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-159af50fa7d2-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-159af50fa7d5-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-02cb8f6e20ca-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-02cb8f6e20cd-190ecc1c {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-d0458d285e48-9fc4d84f {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-6bd93d02ad96-9fc4d84f {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-7014e18cf8e2-9fc4d84f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

