body {
  background-color: #031516;
  font-family: Sportinggrotesque, sans-serif;
  color: #fffdf4;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Gangstergrotesk, sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 12px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gangstergrotesk, sans-serif;
  font-size: 1em;
  line-height: 24px;
  font-weight: 700;
}

a {
  color: #fffdf4;
  text-decoration: none;
}

.mycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50vh; /* bug fix */
}

.home-info-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 39px;
  width: 400px;
  margin-right: 21px;
  padding-top: 0px;
  padding-right: 42px;
}

.button{
  background-color: rgba(1,1,1,0);
  display: inline-block;
  border: 0;
  outline: none;
}
.button:hover{
  background-color: rgba(1,1,1,0);
  color: rgba(255,0,0,1);
}

.button:active,
.button.is-checked{
  background-color: rgba(1,1,1,0);
  color: rgba(255,0,0,1);
}

.paragraph {
  line-height: 190%;
}

.heading-5 {
  text-transform: uppercase;
}

.home-projectlist-wrapper {
  position: relative;
  margin: auto;
}

.home-project-wrapper {
  position: absolute;
  margin-bottom: 40px;

}

.home-project-img {
  position: relative;
  width: 860px;
  height: 360px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-project-img._2 {
}

.home-project-text {
  position: relative;
  padding-top: 12px;
}

.home-project-text-projecttitle {
  display: inline-block;
}

.home-project-text-projectdescription {
  display: inline-block;
  padding-left: 16px;
  font-family: Gangstergrotesk, sans-serif;
  font-weight: 400;
}

.image {
  padding-left: 16px;
}

.project-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  margin: 10vh auto 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body {
  background-color: #031516;
}

.project-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 12vh;
  padding-bottom: 8vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffdf4;
  color: #031516;
}

.project-title-header {
  display: block;
  max-width: 70vw;
  text-align: center;
}

.prcnt {
  font-size: 3em;
  line-height: 1.3em;
}

.prcnt-2 {
  font-size: 1.2em;
  line-height: 1em;
}

.project-arrow-back {
  position: absolute;
  left: 1vh;
  top: 1vh;
  right: auto;
  bottom: auto;
}

.project-body {
  font-size: 1.2em;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.05em;
}

.project-body.center {
  text-align: center;
}

.link-block {
  -webkit-transition: all 350ms cubic-bezier(.25, .1, .24, .985);
  transition: all 350ms cubic-bezier(.25, .1, .24, .985);
}

.link-block:hover {
  -webkit-filter: hue-rotate(167deg);
  filter: hue-rotate(167deg);
}

.link-block:active {
  -webkit-filter: grayscale(87%);
  filter: grayscale(87%);
}

.link-block:focus {
  -webkit-filter: contrast(122%);
  filter: contrast(122%);
}

.project-credit-wrapper {
  margin-bottom: 2vh;
  text-align: center;
}

.the-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gradient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fffdf4;
  background-image: url('../images/tumblr1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.gradient.b {
  background-image: url('../images/tumblr2.jpg');
}

.a-block {
  overflow: hidden;
  width: 90vw;
  height: 90vh;
  margin-right: 4vh;
  margin-left: 4vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 6px;
  background-color: hsla(0, 0%, 87.1%, 0.72);
}

.the-overflow-hidden-mask {
  position: relative;
  z-index: 200;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #fffdf4;
}

.night-sky-fixed-background {
  position: absolute;
  z-index: 100;
  width: 400vh;
  height: 100%;
  background-color: #031516;
  opacity: 1;
}

.the-width-400vh-scrollable-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400vh;
  height: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.the-height-400vh-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 800vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 60px none rgba(36, 36, 36, 0.09);
}

.the-height-400vh-section:focus {
  box-shadow: inset 0 0 0 85px rgba(255, 0, 0, 0.29);
}

.the-sticky-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fffdf4;
}

.project-section-text {
  min-height: 100vh;
}

.project-section-credits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: 2vh;
}

.project-section-media {
  /*height: 100vh;*/
  background-color: #fffdf4;
}

@media screen and (min-width: 1440px) {
  h4 {
    font-size: 1em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .project-text-wrapper {
    width: 40vw;
  }
  .project-body {
    font-size: 1.2em;
  }
  .project-body.center {
    margin-bottom: 8px;
    font-size: 0.8em;
    text-align: center;
  }
  .project-credit-wrapper {
    margin-bottom: 2vh;
    text-align: center;
  }
  .gradient {
    background-color: #fffdf4;
    background-image: url('../images/tumblr1.jpg');
    background-size: contain;
  }
  .gradient.c {
    background-image: url('../images/tumblr3.jpg');
  }
  .gradient.b {
    background-color: #fffdf4;
  }
  .the-width-400vh-scrollable-div {
    width: 1200vh;
  }
  .the-height-400vh-section {
    height: 1200vh;
  }
}

@media screen and (max-width: 991px) {
  .project-text-wrapper {
    width: 70vw;
  }
  .project-title-header {
    width: 70vw;
  }
}

@media screen and (max-width: 767px) {
  .project-text-wrapper {
    width: 90vw;
  }
  .project-body {
    text-align: left;
  }
  .project-body.center {
    text-align: left;
  }
  .project-credit-wrapper {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .project-text-wrapper {
    margin-top: 10vw;
  }
  .prcnt {
    font-size: 2em;
    text-align: center;
  }
  .project-body {
    font-size: 1em;
    line-height: 170%;
    text-align: left;
  }
  .a-block {
    width: 90vw;
    height: 90vh;
    margin-right: 20px;
    margin-left: 20px;
  }
  .the-height-400vh-section {
    margin-left: 0px;
  }
}

@font-face {
  font-family: 'Gangstergrotesk';
  src: url('../fonts/gangstergrotesk-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Sportinggrotesque';
  src: url('../fonts/SportingGrotesque-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}