---
layout: default
---
  <style type="text/css">
    #loading {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      display: block;
      opacity: 0.99;
      background-color: #031516;
      z-index: 99;
      text-align: center;
    }

    #loading-image {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      z-index: 100;
    }
  </style>
  
  <div id="loading">
    <img id="loading-image" src="/assets/imgs/loading.gif" alt="Loading..." /> <!-- by Laurene Boglio -->
  </div>
  <div class="w-layout-grid flex-home">
    <div id="w-node-d0458d285e48-9fc4d84f" class="home-left-col">
      <div class="home-left-col-wrapper">
        <h1>SANDRO MICCOLI</h1>

        {% if page.lang == "en" %}
        <p id="w-node-6bd93d02ad96-9fc4d84f">Creative technologist, educator and digital performer. Specialized in new technologies, runs his studio <a href="http://abstracto.com.br/" target="_blank">Abstracto</a> creating interactive installations and immersive experiences. Currently collaborates with artists and companies on using creative technology in their projects.<br></p><a href="about" class="home-categories-link-big">MORE ABOUT ME</a>
        {% else %}
          <p class="paragraph">Artista digital, especialista em novas mídias e educador. Trabalha no estúdio Abstracto criando instalações interativas e experiências imersivas. Também colabora com coletivos, artistas e empresas na área de tecnologia criativa.<br></p><a href="about" class="home-categories-link-big">MAIS SOBRE MIM</a>
        {% endif %}

        <div class="home-categories-wrapper">
         {% if page.lang == "en" %}
            <a href="#" class="home-categories-link active" data-filter="*">ALL WORKS</a>  
            <a href="#" class="home-categories-link" data-filter=".instalacoes">INSTALLATIONS</a> 
            <a href="#" class="home-categories-link" data-filter=".educacao">EDUCATION</a>   
            <a href="#" class="home-categories-link" data-filter=".arte_computacional">COMPUTATIONAL ART</a>            
            <a href="#" class="home-categories-link" data-filter=".dancatech">DANCE</a>  
        {% else %}
            <a href="#" class="home-categories-link" data-filter="*">TODOS OS TRABALHOS</a>  
            <a href="#" class="home-categories-link" data-filter=".arte_computacional">ARTE COMPUTACIONAL</a>    
            <a href="#" class="home-categories-link" data-filter=".instalacoes">INSTALAÇÕES</a>    
            <a href="#" class="home-categories-link" data-filter=".performances">PERFORMANCES</a>    
            <a href="#" class="home-categories-link" data-filter=".educacao">EDUCAÇÃO</a>    
            <a href="#" class="home-categories-link" data-filter=".dancatech">DANÇA</a>  
        {% endif %}
        </div>
      </div>
    </div>

    <div id="w-node-7014e18cf8e2-9fc4d84f" class="home-dir-col">
      <div class="home-projectlist-wrapper">
          {% for project in projects %}
            <div class="home-project-wrapper {{ project.category }}">
              <a href="project/{{ project.slug }}" class="btn btn-primary">
              <div class="home-project-img"><img src="{{ MEDIA_URL }}{{ project.image__image }}" loading="lazy" width="1280" srcset="{{ MEDIA_URL }}{{ project.image__image }} 500w, {{ MEDIA_URL }}{{ project.image__image }} 800w, {{ MEDIA_URL }}{{ project.image__image }} 1080w, {{ MEDIA_URL }}{{ project.image__image }} 1280w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 90vw, (max-width: 991px) 92vw, 66vw" alt="" class="image-2"></div>
              <div class="home-project-text">
                <div class="home-project-text-projecttitle">{{ project.title }}</div>
                <div class="home-project-text-projectdescription">{{ project.short_description }}</div>
              </div>
                </a>
            </div>
         {% endfor %}
      </div>
    </div>

  </div>
  
