<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.1/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ 'wip/style.css' | relative_url }}">
    <meta charset="utf-8" />

  </head>
  <body>
    <main>
    </main>
    <img src="{{ 'wip/Hero.png' | relative_url }}" alt="Hero" class="hero-image">
    <script src="{{ 'wip/sketch.js' | relative_url }}"></script>
    <script src="{{ 'wip/quadtree.js' | relative_url }}"></script>
    <script src="{{ 'wip/particle.js' | relative_url }}"></script>
    <script src="{{ 'wip/cursor.js' | relative_url }}"></script>
  </body>
</html>
