<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.1/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ 'wip/style.css' | relative_url }}">
    <meta charset="utf-8" />

  </head>
  <body>
    <main>
    </main>
    <img src="{{ 'wip/Hero.png' | relative_url }}" alt="Hero" class="hero-image">
    
    <script>
      // Function to get the 'version' parameter from the URL
      function getVersionFromUrl() {
        const params = new URLSearchParams(window.location.search);
        return params.get('v') || 'v1'; // Default to 'version1' if no parameter is present
      }

      // Load the scripts dynamically based on the version
      const version = getVersionFromUrl();
      const basePath = `{{ '/wip/' | relative_url }}${version}/`;

      const scripts = ['sketch.js', 'quadtree.js', 'particle.js', 'cursor.js'];
      const styles = ['style.css'];

      // Load CSS dynamically
      styles.forEach(style => {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = basePath + style;
        document.head.appendChild(link);
      });

      // Load JS dynamically
      scripts.forEach(script => {
        const scriptElement = document.createElement('script');
        scriptElement.src = basePath + script;
        document.body.appendChild(scriptElement);
      });
    </script>
  </body>
</html>
